.footer-icon{
    height: 50px;
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.footer-icon-special{
    height: 48px;
    width: 48px;
    padding-left: 10px;
    padding-right: 10px;
}
